.galeria {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.producto {
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  width: 200px;
}

.producto:hover {
  transform: scale(1.05);
}

.producto img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.producto h3 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.producto p {
  margin: 0;
  color: #6a6a6a;
}

.producto button {
  background-color: #823bb9;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

.producto button:hover {
  background-color: #a94cf0;
}
