.app-container {
  text-align: center;
  padding: 20px;
  background-color: #fffdfc;
  font-family: 'Rouge Script', cursive;
}

.titulo {
  font-size: 2.5em;
  color: #2c2c2c;
  margin-bottom: 20px;
}

.footer {
  margin-top: 40px;
  font-size: 1.2em;
  color: #5a5a5a;
}

.app-container {
  text-align: center;
  padding: 20px;
  background-color: #fffdfc;
  font-family: 'Rouge Script', cursive;
}

.titulo {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.footer {
  margin-top: 40px;
  font-size: 1.2em;
  color: #5a5a5a;
}

